-
    var ongoingProjectsTiles = [
        {
            title: "Sentiment Analyzer",
            date: "5th June 2018",
            deadline: "25th June 2018"
        },
        {
            title: "Restaurant App",
            date: "TBA",
            deadline: "TBA"
        },
        {
            title: "Code Cafe",
            date: "A faraway future",
            deadline: "Let's see..."
        },
        {
            title: "World Takeover",
            date: "18 Generations",
            deadline: "End of Universe"
        }
    ];

    var finishedProjectsTiles = [
        {
            title: "DoUKnowAbout",
            date: "Don't know, will get back to you on this"
        }
    ];


html
    head
        - var title = "JASA | Project Foundry";
        title=title
        link(rel="stylesheet" type="text/css" href="./indexStyle.css")

    body
        h1(id="headerTitle")=title

        h2 Ongoing Projects
        for project in ongoingProjectsTiles
            div(class="projectTile")
                h3 #{project.title}
                h5 Date: #{project.date}
                h5 Deadline: #{project.deadline}

        br
        h2 Finished Projects
        for project in finishedProjectsTiles
            div(class="projectTile")
                h3 #{project.title}
                h5 Date: #{project.date}