extends bootstrap-base

block frankenstein-head
    link(rel="stylesheet" href="/stylesheets/indexStyle.css")

block frankenstein-body
    h1(id="headerTitle")=title
    br

    h2 Ongoing Projects
    br
    .row
        - for(let i = 0; i<ongoingProjects.length; i++) {
            div(class="col-3 tile")
                h3 #[a(href=ongoingProjects[i].pid) #{ongoingProjects[i].title}]
                h5 Date: #{ongoingProjects[i].date}
                h5 Deadline: #{ongoingProjects[i].deadline}
            - if (i!=0 && i%4==0) {
                div(class="w-100")
            - }
        - }

    br
    h2 Finished Projects
    br
    .row
        - for(let i = 0; i<finishedProjects.length; i++) {
            div(class="col-3 tile")
                h3 #[a(href=finishedProjects[i].pid) #{finishedProjects[i].title}]
                h5 Date: #{finishedProjects[i].date}
                h5 Deadline: #{finishedProjects[i].deadline}
            - if (i!=0 && i%4==0) {
                div(class="w-100")
            - }
        - }