html
    head
        - var title = "JASA | Project Foundry";
        title=title
        link(rel="stylesheet" type="text/css" href="stylesheets/indexStyle.css")

    body
        h1(id="headerTitle")=title

        h2 Ongoing Projects
        for project in ongoingProjects
            div(class="projectTile")
                h3 #{project.title}
                h5 Date: #{project.date}
                h5 Deadline: #{project.deadline}

        br
        h2 Finished Projects
        for project in finishedProjects
            div(class="projectTile")
                h3 #{project.title}
                h5 Date: #{project.date}